
{% load static %}


<h1>Details of Books </h1>


<div class="container-fluid mb-4">
    <div class="row justify-content-center col-lg-12">
      <div class="col md-4">
         <div class="card" style="width: 18rem;">
            <img src="{{ book.image.url }}" class="card-img-top h-15" alt="..." >
              <div class="card-body">
                <p>{{ book.title }}</p>
                <p>{{ book.price }}</p>
                <a href="#" class="btn btn-primary">View</a>

    </div>
  </div>
  </div>
  </div>
  </div>




